body {
    background-image: linear-gradient(to right bottom, #88f6ed, #8bf5db, #95f4c6, #a5f0b0, #b9ec9a);
}

#guesser__input-field::-webkit-inner-spin-button, 
#guesser__input-field::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}

fieldset {
    margin-bottom: 10px;
}

.btn {
    margin-right: 5px;
}

.guesser__history {
    border: 1px solid #000000;
    max-width: 450px;
    height: 120px;
    background-color: #f0ffff;
    margin: 0 auto;
    overflow: auto;
}

.guesser__history-record {
    text-align: left;
    font-size: 12px;
    margin-bottom: 0;
}

.guesser__progress-title {
    font-weight: normal;
    font-size: 16px;
}

.progress {
    max-width: 500px;
    margin: 0 auto 10px;
}

@media (max-width: 414px) {
    .btn-group {
        margin-top: 10px;
    }
}